body {
  background: radial-gradient(circle, transparent 10%, #ceaedd);
}

.book-container {
  display: flex;
  flex-direction: row;
  height: 72vh;
}

.book-list,
.search-cont {
  width: 50%;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.book-list {
  border-right: 1px solid #ccc;
}

.search-cont {
  align-items: center;
  justify-content: center;
}

.search-label {
  margin-bottom: 10px;
}

.search-input {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.search-input input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  margin-right: 5px; 
}

.search-input button {
  background-color: rgba(56, 43, 56, 0.546);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.search-input button:hover {
  background-color: rgba(56, 43, 56, 0.546);
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination span {
  margin: 0 10px;
}

.pagination button {
  background-color: rgba(56, 43, 56, 0.546);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  margin-right: 5px;
}

.pagination button:hover {
  background-color: rgba(56, 43, 56, 0.546);
}

.pagination span {
  margin: 0 10px;
}

button {
  background-color: rgba(56, 43, 56, 0.546);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  margin-left: 5px;
}

button:hover {
  background-color: rgba(56, 43, 56, 0.546);
}

.book-list {
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-list p {
  margin: 5px 0;
}

.book-list p::first-letter {
  text-transform: uppercase;
}

.search-input {
  display: flex;
  align-items: center;
}
