.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ceaedd;
  color: #000000;
  text-align: center;
  padding:10px;
  z-index: 1000;
}
  span{
    margin-left: 10px;
    font-weight: bold;
    margin-right: 10px;
  }