/* header.css */
.Header {
  background-color: #5b4a5f9a;
  padding: 10px;
}

.Header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header img {
  width: 50px;
  height: auto;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px 30px 5px 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #ffffffb7;
  color: #333;
  position: relative;
  width: 500px;
}

#loupe {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

#loupe img {
  width: 20px;
  border-radius: 5px;
}

.Header menu button {
  background-color: transparent;
  border: none;
  color: #000000;
  margin-left: 50px;
  font-weight: bold; 
}

.Header menu button:hover {
  background-color: rgba(220, 135, 220, 0.546);
  color: rgb(250, 250, 250);
  border-radius: 5px;
  height: 25px;
  width:100px;
}

.Header .logo {
  display: inline;
  color: #000; 
  font-weight: bold; 
}
